<?xml version="1.0"?><!--
 /**
 * @category  SchumacherFM
 * @package   SchumacherFM_PicturePerfect
 * @copyright Copyright (c) http://www.schumacher.fm
 * @author    Cyrill at Schumacher dot fm @SchumacherFM
 */
-->
<config>
    <sections>
        <catalog>
            <show_in_store>1</show_in_store>
            <groups>
                <pictureperfect translate="label">
                    <label>PicturePerfect [@SchumacherFM Extension]</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>601</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enable translate="label" module="pictureperfect">
                            <label>Enable PicturePerfect</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable>

                        <lowercase translate="label" module="pictureperfect">
                            <label>Lowercase image file names</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>200</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enable>1</enable>
                            </depends>
                        </lowercase>

                        <generate_label_from_file_name translate="label comment" module="pictureperfect">
                            <label>Generate label from image file name</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>300</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Select "Yes" to configure.</comment>
                            <depends>
                                <enable>1</enable>
                            </depends>
                        </generate_label_from_file_name>

                        <filename_to_label_replacement translate="label comment" module="pictureperfect">
                            <label>Replace these characters with a white space</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>310</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[List here all characters in the image file name which can be converted into a white space.
                            If empty: Default replacement is underscore to white space.
                            Alternatively you can add an observer to the internal event: picture_perfect_convert_file_name_to_label]]></comment>
                            <depends>
                                <generate_label_from_file_name>1</generate_label_from_file_name>
                            </depends>
                        </filename_to_label_replacement>

                        <rewrite_file_name translate="label comment" module="pictureperfect">
                            <label>Rewrite file name</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>400</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Select "Yes" to configure.</comment>
                            <depends>
                                <enable>1</enable>
                            </depends>
                        </rewrite_file_name>

                        <rewrite_file_name_map translate="label comment" module="pictureperfect">
                            <label>File Name Map</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>420</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Use %attribute to include an attribute value in the image file name, e.g. %sku.
                            Alternatively you can add an observer to the internal event: picture_perfect_rewrite_file_name</comment>
                            <depends>
                                <rewrite_file_name>1</rewrite_file_name>
                            </depends>
                        </rewrite_file_name_map>

                    </fields>
                </pictureperfect>

            </groups>
        </catalog>
    </sections>
</config>
